#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a squid now!";
  transition: .5s content; }

#splat:before {
  content: "You're a kid now!";
  transition: .5s content; }

/*# sourceMappingURL=scss.css.map */
